* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightcyan;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  padding: 10rem;
  width: 70rem;
  height: 40rem;
}

.app-icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 4px solid black;
  border-radius: 20%;
  padding: 1rem;
  cursor: pointer;
  width: 18rem;
  height: 12rem;
  margin: 1rem;
  transition: transform 0.3s ease;
}

.app-icon:hover {
  transform: scale(1.1);
}

.app-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.app-data {
  font-size: 25px;
  color: #666;
}

.btn {
  background-color: blue;
  color: white;
  border-radius: 15px;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  margin: 0.8rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.2);
}

.counter-app {
  padding: 5rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  border: black 1px solid;
}

.back-btn {
  display: block;
  padding: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
